:host {
  --divider-length: 100%;
  --divider-thickness: 0.15rem;
  --divider-color: #eeeeee;
  --divider-shadow: 0 0 0.3rem black;
  --divider-image-h: none;
  --divider-image-v: none;
}

.divider-h{
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.divider-v{
  width: 100%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}

.display-divider-h{
  width: var(--divider-thickness);
  height: var(--divider-length);
  box-shadow: var(--divider-shadow);
  background-color: var(--divider-color);
  background-image: var(--divider-image-h);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.display-divider-v{
  height: var(--divider-thickness);
  width: var(--divider-length);
  box-shadow: var(--divider-shadow);
  background-color: var(--divider-color);
  background-image: var(--divider-image-v);
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.phantom-divider-h{
  background-color: transparent;
  cursor: col-resize;
  width: 2rem;
  z-index: 2;
}

.phantom-divider-v{
  background-color: transparent;
  cursor: row-resize;
  height: 2rem;
  z-index: 2;
}

.top-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slots-container-h {
  position: relative;
  display: flex;
  height: 100%;
  /* flex-direction: row; */
}

.slots-container-v {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dividers-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


