:host {
  --divider-length: 100%; /* Length of the divider along the principal axis */
  --divider-thickness: 0.15rem; /* Thickness of the divider */
  --divider-color: #eeeeee; /* Background color of the divider */
  --divider-shadow: 0 0 0.3rem black; /* Shadow of the divider */
  --divider-image-h: none; /* Background image of the divider when d="horizontal" */
  --divider-image-v: none; /* Background image of the divider when d="vertical" */
  --divider-background-repeat: no-repeat; /* Repeat rule of the background image */
  --divider-background-position: center; /* Position of the background image */
  --phantom-divider-thickness: 2rem; /* Thickness of the phantom divider used to grab mouse events */
}

.divider-h {
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.divider-v {
  width: 100%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}

.display-divider-h {
  width: var(--divider-thickness);
  height: var(--divider-length);
  box-shadow: var(--divider-shadow);
  background-color: var(--divider-color);
  background-image: var(--divider-image-h);
  background-repeat: var(--divider-background-repeat);
  background-position: var(--divider-background-position);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.display-divider-v {
  height: var(--divider-thickness);
  width: var(--divider-length);
  box-shadow: var(--divider-shadow);
  background-color: var(--divider-color);
  background-image: var(--divider-image-v);
  background-repeat: var(--divider-background-repeat);
  background-position: var(--divider-background-position);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.phantom-divider-h {
  background-color: transparent;
  cursor: col-resize;
  width: var(--phantom-divider-thickness);
  height: var(--divider-length);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.phantom-divider-v {
  background-color: transparent;
  cursor: row-resize;
  height: var(--phantom-divider-thickness);
  width: var(--divider-length);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.top-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slots-container-h {
  position: relative;
  display: flex;
  height: 100%;
  /* flex-direction: row; */
}

.slots-container-v {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dividers-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
